button {
    border-radius: 2px;
    padding: 5px 25px;
}
.button-primary-large {
    padding: 10px 50px;
}
.button-primary-large {
    padding: 10px 50px;
}
.button-danger-large {
    padding: 10px 50px;
}
.button-success-large {
    padding: 10px 50px;
}
.button-warning-large {
    padding: 10px 50px;
}
.button-default-large {
    padding: 10px 50px;
}

.button-primary {
    background-color: #33A0FF;
    color: white;
    border: #33A0FF
}
.button-primary:hover {
    background-color: #2E90E5;
    color: white;
    border: #2E90E5
}
.button-danger {
    background-color: #FF4858;
    color: white;
    border: 1px solid #FF4858;
}
.button-danger:hover {
    background-color: #F53848;
    color: white;
    border: 1px solid #F53848;
}
.button-warning {
    background-color: #FFBE37;
    color: white;
    border: #0069D9;
}
.button-success {
    background-color: #0AD00A;
    color: white;
    border: 1px solid #0AD00A;
}
.button-success-outline{
    background-color: #FFFFFF;
    color: #0AD00A;
    border: 1px solid #0AD00A;
}
.button-primary-outline{
    background-color: #FFFFFF;
    color: #33A0FF;
    border:1px solid #33A0FF;
}
.button-primary-shaded{
    background-color: rgba(44, 144, 229, 0.1);
    color: #33A0FF;
    
}
.button-success:hover {
    background-color: #07C107;
    color: white;
    border: 1px solid #07C107;
}
.button-warning:hover {
    background-color: #EBB600;
    color: white;
    border: 1px solid #EBB600;
}
.button-default {
    background-color: #22262A;
    color: white;
    border: 1px solid #22262A;    
}
.button-default:hover {
    background-color: #22262A;
    color: white;
    border: 1px solid #22262A;
}
.button-default-outline {
    background-color: white;
    color: #22262A;
    border: 1px solid #22262A;
}
.button-danger-shaded {
    background-color: rgba(255, 66, 82, 0.1);
    color: #FF4858;
    border: 1px solid rgba(255, 66, 82, 0.1);
}
.button-success-shaded {
    background-color: rgba(10, 208, 10, 0.1);
    color: #0AD00A;
    border: 1px solid rgba(10, 208, 10, 0.1);
}
.button-warning-shaded {
    background-color: rgba(255, 198, 0, 0.1);
    color: #FFC600;
    border: 1px solid rgba(255, 198, 0, 0.1);
}
.button-default-shaded {
    background-color: rgba(246, 247, 248, 0.5);
    color: #22262A;
    border: 1px solid rgba(246, 247, 248, 0.5);
}
.button-danger-outline {
    background-color: white;
    color: #FF4252;
    border: 1px solid #FF4252;
}
.button-warning-outline {
    background-color: white;
    color: #FFC600;
    border: 1px solid #FFC600;
}